{% extends 'base.html' %}

{% block content %}

		<div class="container">
			<h2>About</h2>
			Here you can find some information about the DOE JGI guideRNA design pipeline

			<h2>Contact</h2>
			If you have any questions, please contact ....
		</div>

{% endblock %}