<html>
	<head>
	
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		
		<!-- --- -->
		<!-- CSS -->   		
		<!-- --- -->

		 <!-- for JGI branding, must use Karla font -->
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
        <style type="text/css">
            body {margin:0;}
            #jgi-header {margin:0; padding:0; height:70px;}
            #jgi-logo {float:left;}
            .jgi-nav {display:block; overflow:hidden;}
            .jgi-nav ul {margin-top: 10px; margin-left:50px; padding:0;}
            .jgi-nav ul li {display:inline-block; list-style-type:none; font-family: "Karla", Helvetica, arial, sans-serif;
                  text-transform:uppercase; font-size:13px; text-decoration:underline; padding-left:10px; list-style-position:inside;}
            .jgi-nav ul li a {color:#5a5a5a;}
            .jgi-nav ul li a:hover {color:#fdba4d;}
        </style>

        <!-- end styles for JGI -->

        <!--JQUERY-->
		<script src="{{ url_for('static', filename='scripts/lib/jquery-1.12.1.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='scripts/lib/jquery.tablesorter.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

        <!-- D3 -->
        <script src="https://d3js.org/d3.v7.min.js"></script>

        <!-- DATATABLES -->
        <link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
		<script src="{{ url_for('static', filename='scripts/lib/jquery.dataTables.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/lib/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/lib/papaparse.min.js') }}"></script>

        <!--SELECT2-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" rel="stylesheet" type="text/css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <!--BOOTSTRAP-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

		<title>DOE JGI - gRNA-SeqRET </title>

        <script>
        var UserName = '{{ username }}';
        </script>
	</head>

	<body>

    <!-- JGI header -->
		<nav class="navbar navbar-light fixed-top" style="background-color:#FFFFFF">
            <!-- a class="navbar-brand" href="./index.html">DOE JGI SynBio Utility Portal </a -->
            <div  id="jgi-header" >
                <div id="jgi-logo">
                    <a href="/">
                        <img width="400" height="70" src="{{ url_for('static', filename='img/JGI-subsite-banner-gRNA-SeqRET.jpg') }}" alt="DOE JGI gRNA-SeqRET"/>
                    </a>
                </div>
                <nav class="jgi-nav">
                    <ul>
                        <li><a href="http://jgi.doe.gov">JGI Home</a></li>
                        <li><a href="http://jgi.doe.gov/contact-us/">Contact Us</a></li>
                        <li><a href="/public_designs">Public Designs</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/your_genomes">Your Genomes</a></li>
                        <li><a href="/create_step1.html">Create New Design</a></li>
                        <li><a href="/design_list">View Your Designs</a></li>
                        <li><a href="/tutorial">Tutorial</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>

                </nav>
            </div >

		</nav>

<br><br><br><br>

		{% block content %}
		
		{% endblock %}
		
		<footer class="footer bg-light" style="font-family: 'Karla', sans-serif;">
		  <div class="container">
              <div class="row">
                  <div class="col">
                      <small style="color: #919090;">
                          <br />
                          <a id="jgiContactTrigger" href="#"><span style="color: #919090;">Contact Us</span></a><br />
                          <a target="_parent" href="http://www.jgi.doe.gov/disclaimer/"><span style="color: #919090;">Disclaimer</span></a><br />
                          <a target="_parent" href="http://www.jgi.doe.gov/whoweare/accessibility.html"><span style="color: #919090;">Accessibility/Section 508</span></a><br />
                         gRNA-SeqRET Copyright © 2021 The Regents of the University of California, <br>
                          through Lawrence Berkeley National Laboratory. All rights reserved.
                      </small>
                  </div>
                  <div class="col7">
                    &nbsp;
                  </div>
                  <div class="col3 pull-right">
                      <a target="_parent" href="http://science.energy.gov/"><img src="{{ url_for('static', filename='img/doe-science-logo.png') }}"></a>
                  </div>
              </div>


		  </div>
		</footer>

	</body>
</html>