{% extends 'base.html' %}


{% block content %}

		<div class="container">
			<h3 style="text-align:center">Design Target Regions for Extraction and/or gRNA Libraries</h3>
            <div style="text-align:center"><small><em>Your saved genomes are private. Others cannot use or view genomes you have saved </em></small></div><br>
			<hr/>


        <!-- errors/warnings appear here-->
            {%  if data.error %}
			<div id="div_message" class="alert alert-danger">
                {{ data.error }}
			</div>
            {% endif %}



            {% if  genomes | length > 0  %}
                <!-- show div with genome selection or save-new button) -->


                <form id="seqret_form" action="./seq_ret" method="POST" enctype="multipart/form-data">
                <!-- Define Design Name -->
                <div class="row">
                <strong>Design Name:</strong>

                </div>

                <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-6 ">
                        <input id="design_name" name="design_name" type ="text" class="form-control" placeholder=""  required/>
                    </div>
                </div>

                <div id="div_select_genome">
                    <div class="row">
                        <strong>Target Genome:</strong>
                    </div>
                        <div class="row">
                          <div class="col-md-1"></div>
                            <div id="div_saved_genomes" class="col-md-10 ">
                            Select saved genome or
                            <button type="button" id="btnSaveGenome" class="btn btn-sm btn-primary" onClick="location.href='/save_genome.html'">Save New Genome</button>

                      </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="row">
                    <div class="col-md-1"></div>
                        <div id='target_genome' class="col-md-6">

                            <em style="color:DodgerBlue;">Saved Genomes:</em>
                          <select id="select_genome" name="select_genome" class="form-control form-control-sm" onChange="selectedGenome()">
                            {% for g in genomes %}
                                        <option value="{{ g.genome_uuid }}">{{ g.genome_userdefined_id }}</option>
                            {% endfor %}
                          </select>

                        <input id="genome_name" type="hidden" name="genome_name" value="">




                    </div>
                </div>

                    <div class="row">&nbsp;</div>




                <!-- Define target region-->
                <div class="row">
                <strong>Target Regions:</strong>

                </div>




                <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-10 ">
                        <em style="color:DodgerBlue;">1. Define target regions relative to </em>&nbsp;&nbsp;

                                <input id="gene_features" name="feature_type" onClick="selectedFeatureOptions('genes')"
                                       type="radio" value="gene_features" checked>
                                <label for="gene_features">&nbsp; genes/loci and annotated features</label>
                                &nbsp;<!--  will uncomment once the custom feature extraction is working
                                <input type="radio" id="custom_features" name="feature_type" value="custom_features" onClick="selectedFeatureOptions('custom')">
                                <label for="custom_features">&nbsp; custom features</label>
                                -->

                    </div>
                </div>

                <div id="gene_feature_options" class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-4 input-group">
                        <!-- Div for genes centric target region - show if selected above -->

                            <div class="form-group" >
                            <label for="target_genes"><em style="color:DodgerBlue;">2. Enter Target Gene/Locus IDs:</em><br><small><em>Leave empty for genome wide targeting<br>
                                Otherwise, please enter one per line<br>
                                You may paste from an Excel column</em></small></label>
                            <!-- div class="ui-widget" -->
                            <!-- textarea class="form-control" id="target_genes" name="target_genes" rows="10" onkeydown="check_genes()"></textarea -->
                            <textarea class="form-control" id="target_genes" name="target_genes" rows="10" onchange="validateGenes()"></textarea>
                            </div>
                        </div>
                    <div class="col-md-1 align-middle"> <br><br><br><br><br><br><br><br><i onclick="moveID()" onmouseover="this.style.color='royalblue';" onmouseout="this.style.color='DodgerBlue';" class="bi-arrow-left-circle-fill align-bottom"  style="font-size: 2rem; color: DodgerBlue;"></i></div>
                    <div class="col-md-4 input-group">
                        <!-- Div for genes centric target region - show if selected above -->

                            <div class="form-group form-control-sm" >
                                <label for="avail_genes"><em>Available Gene/Locus IDs:</em><br><small><em>Annotated IDs in selected genome<br>
                                Select and click the arrow add to target list</em></small></label>
                            <br><select id="avail_genes" name="avail_genes" class="custom-select" multiple size=14 data-live-search="true">
                                <option>select...</option>
                            </select>
                            </div>
                        </div>
                </div>

                    <!-- Div for custom feature centric target region - show if selected above -->
                    <div id="custom_feature_options" class="row d-none ">
                        <div class="col-md-1"></div>
                           <div class="col-md-6 input-group">
                                <div class="form-group" >
                                    <em style="color:DodgerBlue;">2. Upload Custom Features</em>: <br><small><em><a href="">Example</a></em></small>
                                    <input type="file" id="custom_features" name="custom_features" class="form-control" default="100"/>

                                </div>
                        </div>
                    </div>

                <div class="row">&nbsp;</div>
                <!-- for gene error message -->
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                    <div id="gene_message" class="d-none"></div>
                    </div>
                </div>

                <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-10 ">
                        <em style="color:DodgerBlue;">3. Limit selected regions to </em>&nbsp;&nbsp;

                                <input id="coding" name="limit_regions" type="radio" onclick="displayRegion()" value="coding" checked>
                                <label for="limit_regions">&nbsp; coding regions only</label>
                                &nbsp; &nbsp;
                                <input type="radio" id="non-coding" onclick="displayRegion()" name="limit_regions" value="non-coding">
                                <label for="limit_regions">&nbsp; non-coding regions only</label>
                                 &nbsp;
                            <input type="radio" id="none" onclick="displayRegion()" name="limit_regions" value="none">
                                <label for="limit_regions">&nbsp; do not limit</label>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-4">

                    <!-- Div for the 4x parameters to define start and end of region -->
                        <em style="color:DodgerBlue;">4. Starting Point Definition</em>
                        <br>
                            Select reference point:
                        <br>

                <select id="start_origin" name="start_origin" class="form-group form-control-sm" onchange="selectedStartPoint()"><br>
                    <option>dummy- should be filled by js based on above</option>
                </select>
                            <input id="start_name" type="hidden" name="start_name" value="">

                        <br>

                Number of bases upstream (-) or downsteam (+) from the refrence point:<br>
                <input id="start_padding" name="start_padding" type ="number" class="form-control"  value="0" min="-10000" max="10000" onChange="displayRegion()"/>
                        </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-4">
                        <em style="color:DodgerBlue;">5. End Point Definition</em>
                        <br>
                        Select reference point:<br>
                        <select id="end_origin" name="end_origin" class="form-group form-control-sm" onchange="selectedEndPoint()">
                            <option>dummy- should be filled by js based on above</option>
                        </select>
                        <input id="end_name" type="hidden" name="end_name" value="">
                        <br>
                        Number of bases upstream (-) or downsteam (+) from the refrence point:<br>
                        <input id="end_padding" name="end_padding" type ="number" class="form-control"  value="100" min="-10000" max="10000" onChange="displayRegion()"/>


                    </div>


                </div>
                <div class="row">&nbsp;</div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                    <div id="div_message" class="d-none"></div>
                    </div>
                </div>

                <!-- SVG viewport for region graphic --->
                <div class="row">&nbsp;
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <span><small><em>The end points will be included in the region, for example:<br>
                            In the default parameters for gene feature type, we are setting the reference point for both
                            the start and end to the first coding region of the gene, with the starting point bp set to zero
                            and ending bp set to 100. For genes on the "+" strand, this region will start with the "ATG" (start codon).
                            For genes on the "-" strand, the region will end with the reverse compliment of the start codon.
                            The region will be 101 bp long since it is including both end points</em></small></span><br>
                        <svg id="viz" width="800" height="200" style="border:1px solid gray">

                        </svg>
                        <br><span><small><em>Note: This cartoon is only a general indicator of the region being selected, it is not scaled.</em></small></span>
                    </div>
                </div>




                 <div class="row">&nbsp;</div>




                    <!-- Guide RNA Design Options-->
                <div class="row">
                <strong>Guide RNA Design:</strong>
                </div>

                <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-6">
                    <div class="input-group">
                        <em style="color:DodgerBlue;">Design gRNA for target regions? &nbsp;</em>&nbsp;

                                <input type="radio" id="yes_gRNA_design" name="design_grna" value="yes" onClick="design_gRNA('yes')" >
                                <label for="yes_gRNA_design">&nbsp; Yes </label>
                                &nbsp; &nbsp;
                                <input type="radio" id="no_gRNA_design" name="design_grna" value="no" onClick="design_gRNA('no')" checked>
                                <label for="no_gRNA_design">&nbsp;No </label>

                        </div>
                    </div>
                </div>

                    <!-- Div for gRNA design form -->
                <div id="gRNA_options" class="d-none" >
                    <!-- gRNA design options will go here! -->
                    <!-- TODO - copy from old form, and remember to add option to choose strand that gRNAs are on...-->

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        PAM:
                        <select id="select_PAM" name="PAM" class="form-control">
								<option value="NGG">NGG (Streptococcus pyogenes)</option>
                                <option value="NRG">NRG (Streptococcus pyogenes)</option>
                                <option value="NGA">NGA (varient VQR Sp.)</option>
                                <option value="NGCG">NGCG (varient VRER Sp.)</option>
                                <option value="TTTN">TTTN (Cpf1 Acidaminococcus or Lachnospiraceae)</option>
                                <option value="NNGRRT">NNGRRT (Staphylococcus aureuss)</option>
                                <option value="NNNNGATT">NNNNGATT (Neisseria meningitidis)</option>
                                <option value="NNAGAAW">NRG (Streptococcus thermophilus)</option>
                                <option value="NNNNRYAC">NNNNRYAC (Campylobacter jejun)</option>
							</select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        Scaffold sequence:
                        <input id="text_scaffold" name="scaffold_seq" type ="text" class="form-control" placeholder="" value="GTTTTAGAGCTAGAAATAGCAAGTTAAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGGTGC" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        Target site length:
                        <select id="select_target_length" name="target_length" class="form-control">
								<option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option selected>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
							</select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        Max. mismatches in <em>offsite</em> targets:
                        <select id="select_MM" name="MM" class="form-control">
                                <option>2</option>
                                <option>3</option>
                                <option selected>4</option>
                                <option>5</option>
							</select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                       Number of gRNAs wanted per gene/loci:
                        <input id="text_nr_of_guideRNAs" name="number_wanted" type ="number" min="1" max="10" class="form-control" placeholder="" value="3" required/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                       Target strand:
                        <select id="target_strand" name="target_strand" class="form-control">
								<option value="both" selected>Either Strand</option>
                                <option value="coding">Coding Strand (aka non-template strand)</option>
                                <option value="non-coding">Non-coding Strand (aka template strand)</option>
                                <!-- option value="+">"+" Stran</option>
                                <option value="-">"-" Stran</option -->

                        </select>
                    </div>
                </div>

                </div>

                    <!-- end of gRNA form -->
                </div>

                <!-- create some space between the lst section and the submit button -->
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-6">
                    <button type="submit" id="btn_submit" class="btn btn-sm btn-primary form-control form-control-sm" style="width:20%">Submit</button>
                    </div>
                </div>

                </form>

                <!-- spinner modal -->
            <div id='loadingModal' class="modal bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="width: 48px">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </div>
                </div>

            </div>


             {% else %}
            <!-- no saved genomes -->
                <strong>Target Genome:</strong><br>
               You must first save a target genome. Genomes that you upload are private. Only you can view or use your genomes.

                    <button type="button" id="save_genome_btn" class="btn btn-sm btn-primary" onClick="location.href='/save_genome.html'">Save New Genome</button>&nbsp;&nbsp;


            {% endif %}

        </div>

		<script src="{{ url_for('static', filename='scripts/createNewController.js') }}"></script>

{% endblock %}