{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">

     <div class="col-sm-8 justify-content-center">
        <div class="col-sm-5">
            <h4 class="title ">Make Design Public: {{ job.job_userdefined_id}}</h4>


        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}
        </div>

        <form method="POST" action="/create_public_design/{{  job.job_id }}" >
            <input type="hidden" id="job_id" name="job_id" value="{{  job.job_id }}">


             <div id="div_name" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_name" class="col-sm-2 col-form-label-sm">Name</label>
                    <div class="col-sm-5">
					    <input id="text_name" name="name" type ="text" cols="150" maxlength="150" class="form-control-sm" value="{{ job.job_userdefined_id}}" required/>
                    </div>
				</div>

            <div id="div_desc" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_desc" class="col-sm-2 col-form-label-sm">Description</label>
                    <div class="col-sm-5">
					     <textarea id="text_desc" name="description" class="form-control-sm" rows="3" cols="100" required></textarea>
                    </div>
				</div>

            <div id="div_app" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_app" class="col-sm-2 col-form-label-sm">CRISPR Application</label>
                    <div class="col-sm-5">
                       <select id="text_app" name="application" class="form-control-sm">
                            <option value="Knockout">Knockout</option>
                            <option value="CRISPRi">CRISPRi</option>
                            <option value="CRISPRa">CRISPRa</option>
                        </select>
                    </div>
				</div>

            <div id="div_taxon" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_taxon" class="col-sm-2 col-form-label-sm">Target Organism NCBI Taxonomy ID</label>
                    <div class="col-sm-5">
					    <input id="text_taxon" name="taxon" type ="text" cols="50" maxlength="50" class="form-control-sm" value="" required/>
                    </div>
				</div>

            <div id="div_submit" class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
        </form>

     </div>

</div>



{%  endblock %}