{% extends 'base.html' %}

{% block content %}

    <div class="container">
			<h3 style="text-align:center">{{ data["design_name"] }} Results</h3>

			<div id="div_message">
                {{ data["message"] }}
			</div>
            <div>
                Design Results: <a href="/results/{{ data['uuid'] }}">{{ data['uuid'] }}</a>
            </div>
        <div id="parameters">
            <hr />
            <!--  display the parameters that were used in the design -->
            <em>Design Parameters</em><p>
            PAM: {{ data["PAM"] }}<br />
            Target length : {{ data["target_length"] }}<br />
            Miss-matches: {{ data["MM"] }}<br />
            Number wanted: {{ data["number_wanted"] }}<br />
            Scaffold sequence: {{ data["scaffold_seq"] }}<br />

            <br />
            {% if  data["gene_names"]|length > 0  %}
                Genes: {{ data["gene_names"] }}<br />
            {% else %}

                Genes: All genes/CDS in genome<br />
                {% endif %}

        {% if  data["full_gene"] == "True" %}
                Gene region: Full gene <br />
            {% else %}

                Gene region (relative to ATG): {{ data["region_start"] }} - {{ data["region_end"] }}<br />
                {% endif %}

            </p>


             </div>

			<div id="div_results">
            <hr />
            {% if data["status"] == "Complete" %}
            <p>
                <!-- if, done, display the results or the report and download links here-->
                {% if  data["no_protospacers"]|length > 0  %}
                    No protospacers were found for the for the following genes ({{ data["no_protospacers"]|length  }}):
                   <table>
                       {% for gene_row in data["no_protospacers"] | batch(5, ' ') %}
                            <tr>
                                {% for gene in gene_row %}
                                    <td width='200'>{{ gene }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                All genes had proptospacers<br />
                {% endif %}
            </p>
            <p>
            {% if data["not_enough_protospacers"]|length > 0  %}
                    Not enough protospacers were found for the for the following genes ({{ data["not_enough_protospacers"]|length  }}):
                    <table>
                       {% for gene_row in data["not_enough_protospacers"] | batch(5, ' ') %}
                            <tr>
                                {% for gene in gene_row %}
                                    <td width='200'>{{ gene }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                All genes had enough proptospacers<br />
                {% endif %}
            </p>

            <!-- download links here -->
                <hr />
                Download:<br>
            <a href="/{{ data["uuid"] }}/{{ data["uuid"] }}.csv">Results (.csv)</a><br>
                <a href="/{{ data["uuid"] }}/{{ data["uuid"] }}_regions.fa">Regions (.fa)</a><br>
                <a href="/{{ data["uuid"] }}/{{ data["uuid"] }}_report.txt">Report (.txt)</a><br>
            <a href="/{{ data["uuid"] }}/{{ data["uuid"] }}.tar.gz">All output files</a>

            {% endif %}
			</div>
		</div>


{% endblock %}