{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">

     <div class="col-sm-8 justify-content-center">
        <div class="col-sm-5">
            <h4 class="title ">Edit Profile</h4>


        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}
        </div>

        <form method="POST" action="/edit_profile" >

            <!-- div id="div_email" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_email" class="col-sm-1 col-form-label-sm">Email</label>
                    <div class="col-sm-3">
					    <input id="text_email" name="email" type ="email" cols="100" maxlength="100" class="form-control-sm" value="{{ user.email }}" required/>
                    </div>
				</div -->

             <div id="div_name" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_name" class="col-sm-1 col-form-label-sm">Name</label>
                    <div class="col-sm-3">
					    <input id="text_name" name="name" type ="text" cols="100" maxlength="100" class="form-control-sm" value="{{ user.username }}" required/>
                    </div>
				</div>


            <div id="div_submit" class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
        </form>

     </div>

</div>



{%  endblock %}