{% extends 'base.html' %}

{% block content %}

    <div class="container">
			<h3 style="text-align:center">{{ data["design_name"] }} Results</h3>

			<div id="div_message">
                <strong>{{ data["status"] }}:</strong> {{ data["message"] }}
			</div>
            <div>
                <strong>Result:</strong> <a href="/results/{{ data['uuid'] }}">{{ data['uuid'] }}</a>
            </div>
        <p id="parameters">

            <hr />
        <strong>Target Genome:</strong><br> {{ data["genome_name"] }}
            <br>
        <strong>Target Region:</strong><br>
            <ul>
            {% if data["limit_regions"] == "both" %}
                <li>Coding and/or non-coding regions</li>
            {% else  %}
                <li>Limit to {{ data["limit_regions"] }} regions</li>
            {% endif %}

            {% if data["feature_type"] == "custom_features" %}
                <li>Relative to custom features</li>
            {%  else %}
            <li>Relative to loci:
                {% if  data["target_genes"]|length > 0  %}
                     {{ data["target_genes"] }}
                {% else %}
                    Genome wide
                {% endif %}
            </li>
            {% endif %}

                <li>Starting point reference: {{ data["start_name"] }}</li>
                <li>Starting point padding: {{ data["start_padding"] }}</li>
                <li>Ending point reference: {{ data["end_name"] }}</li>
                <li>Ending point padding: {{ data["end_padding"] }}</li>

            {% if data["no_seq"]|length > 0  %}
                <!--  if no sequence was found during extraction, list loci here -->
                No sequence was found in the region specified for the following genes ({{ data["no_seq"]|length  }}):
                   <table>
                       {% for loci_row in data["no_seq"] | batch(5, ' ') %}
                            <tr>
                                {% for loci in loci_row %}
                                    <td width='200'>{{ loci }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
            {%  endif %}

           {% if data["design_grna"] == "yes" %}
               </ul>
            <!--  display the parameters that were used in the design -->
            <strong>Guide RNA Design Parameters</strong>
               <ul>
               <li>PAM: {{ data["PAM"] }}</li>
               <li>Target length : {{ data["target_length"] }}</li>
               <li>Miss-matches: {{ data["MM"] }}<br />
               <li>Number wanted: {{ data["number_wanted"] }}</li>
               <li>Scaffold sequence: {{ data["scaffold_seq"] }}</li>
               <li>Target strand: {{ data["target_strand"] }}</li>
               </ul>
           {%  else  %}
               <li>No guide RNA library design was requested</li>
               </ul>
            {%  endif  %}
        </p>

    <div id="div_results">

            <!-- download links here -->
        {%  if data["status"] == "Complete" %}
                <hr />
                <strong>Download:</strong>
            <a href="/{{ data["uuid"] }}/{{ data["uuid"] }}_regions.fa">Extracted Sequence Region FASTA</a>&nbsp;&nbsp;

        {%  endif %}
			</div>
		</div>

		<script src="{{ url_for('static', filename='scripts/resultDisplayController.js') }}"></script>

{% endblock %}