{% extends 'base.html' %}

{% block content %}

    <div class="container">
			<h3 style="text-align:center">Genome: {{ data["genome_name"] }}</h3>

            <div>
                <ul>
                    <li><strong>Status:</strong> {{ data["status"] }}</li>
                    <li><strong>Original Annotation:</strong> <a href="/genome_download/{{ email }}/{{ data["genome_uuid"] }}/{{ data["annotation_file_name"] }}">{{ data["annotation_file_name"] }}</a></li>
                    <li><strong>Date:</strong> {{ data["saved_date"].strftime('%Y-%m-%d')  }}</li>
                    <li><strong>UUID:</strong> {{ data["genome_uuid"] }}</li>
                    <li><strong>Type:</strong> {{ data["genome_type"] }}</li>
                </ul>

            <!-- download links here -->
                <hr />
                <strong>Download:</strong>
                <ul>
                    <li><a href="/genome_download/{{ email}}/{{ data["genome_uuid"] }}/{{ data["genome_uuid"] }}.gff3">GFF3</a></li>

                    <li><a href="/genome_download/{{ email }}/{{ data["genome_uuid"] }}/{{ data["genome_uuid"] }}.fa">FASTA</a></li>

                    <li><a href="/genome_download/{{ email }}/{{ data["genome_uuid"] }}/{{ data["genome_uuid"] }}_exons.bed.gz">Exons.BED</a></li>

                    <li><a href="/genome_download/{{ email }}/{{ data["genome_uuid"] }}/{{ data["genome_uuid"] }}_genes.bed.gz">Genes.BED</a></li>
            {% if data["status"] == "Complete" %}

                <li><a href="/genome_download/{{ email }}/{{ data["genome_uuid"] }}/{{ data["genome_uuid"] }}.db">SQLite DB</a></li>
                <li><a href="/genome_download/{{ email }}/{{ data["genome_uuid"] }}/genes.json">Genes.JSON</a></li>
            {% endif %}
                </ul>
			</div>
		</div>


{% endblock %}