{% extends 'index_base.html' %}

{% block content %}
	<!-- content -->
    <div style="text-align:center;">
            <a href="/register" id="btnSignUp" class="btn btn-primary btn-lg navbar-btn" style="margin-right:15px;width:150px;background-color:#245783">

                                Sign Up!
            </a>



            <a href="/login" type="button" id="btnLogin" class="btn btn-primary btn-lg navbar-btn" style="width:150px;background-color:#245783" >

            Login
            </a>
        </div>
    <br><br>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
		    <h2 style="text-align:center;">DOE JGI guideRNA and Sequence Exraction Tool (gRNA-SeqRET)</h2>
        <p>
            This guideRNA and Sequence Exraction Tool (gRNA-SeqRET) was developed at the DOE Joint Genome Institute
            as a tool for extracting specific sequence regions in a high throughput manner from any genome,
            and facilitate whole genome gRNA design for CRISPR applications.
            It utilizes the <a href="https://crispr.cos.uni-heidelberg.de/">CRISPR/Cas9 Target online predictor (CCTop)</a>
            writen by Juan L. Mateo, at the Center for Organismal Studies (COS) Heidelberg, supported by the European Research Council.
            </p>
            <p>
                To design gRNAs we use the open source (MIT license) standalone version of
                <a href="https://bitbucket.org/juanlmateo/cctop_standalone/src/master/">CCTop</a> to find predicted guide RNA sites and offsite targets.
                The value added by DOE JGI gRNA-SeqRET, is the ability to use any genome and
                filter out the best gRNA sequences based on the CCTop scoring as well as the folding predictions of the gRNA and it's scaffold sequence.
                It is not limited to a select group of pre-configured organisms, any genome can be uploaded in either GenBank or GFF3/FASTA format.
                Our tool also allows you to enter a list of gene names, or use every gene in the annotated genome,
                making it a whole genome guideRNA design tool.
            </p>
            <p>
                If you use gRNA-SeqRET, please cite:
                <br>Simirenko L, Cheng JF, Blaby I. <em>gRNA-SeqRET: a universal tool for targeted and genome-scale gRNA design and sequence extraction for prokaryotes and eukaryotes.</em> <strong>Front Bioeng Biotechnol. 2023</strong> Aug 29;11:1217811. doi: 10.3389/fbioe.2023.1217811. PMID: 37720317; PMCID: PMC10502169.
            </p>
            <p>If you would like to install your own version of this software, it is
                <a href="https://bitbucket.org/berkeleylab/grnadesigner/src/master/">available</a> under a modified BSD license</p>
        </div>
    </div>


    <!-- end content -->

	{% endblock %}
