{% extends 'index_base.html' %}

{% block content %}


		<!-- login form -->

    <div class="container-fluid">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
        {% with message = get_flashed_messages(with_categories=True) %}
            {% if message %}
                <div class="alert alert-{{ message[0][0] }} ">
                    {{ message[0][1] }}
                </div>
            {% endif %}
        {% endwith %}
        </div>

    <div>
      <form method="POST" action="/login">
          <div id="div_title" class="form-group row">
              <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <h4>Login</h4>
                </div>
           </div>

           <div id="div_email" class="form-group row">
               <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <input type="text" placeholder="Your email" name="email" value="{{ request.form.username }}" required>
                </div>
           </div>

           <div id="div_pass" class="form-group row">
               <div class="col-sm-1"></div>
                <div class="col-sm-8">
               <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" required>
                </div>
           </div>
          <div id="div_remember" class="form-group row">
              <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <input class="" type="checkbox"> Remember me
                    <br><a href="{{ url_for("reset_request") }}" ><small>Forgot Password?</small></a>
                </div>
          </div>


          <div id="div_submit" class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>

      </form>
    </div>
    <div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        </p>
      {% endif %}
    </div>
    </div>

		<!-- end login form -->

{% endblock %}