{% extends 'base.html' %}

{% block content %}

		<div class="container">
			<h2>Manual</h2>
			Here you can find some manuals about using the guideRNA pipeline of DOE JGI ...
		</div>

{% endblock %}