{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
    <div class="col-sm-8 justify-content-center">
        <div class="col-sm-5">
            <h4 class="title ">Profile</h4>

              {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}
        </div>

        <div class="row">
         <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <strong>Name:</strong> {{ user.username }}<br>
                <strong>Email:</strong> {{user.email}}<br>
            </div>
        </div>
    </div>

        <div class=""row>&nbsp;&nbsp;</div>

    <div class="row">
        <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <a href="/edit_profile" class="btn btn-primary btn-sm" >Edit Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/change_pass" class="btn btn-primary btn-sm" >Change Password</a>
            </div>
    </div>

    </div>

{%  endblock %}