{% extends 'index_base.html' %}

{% block content %}

    <div class="container">
			<h3 style="text-align:center">Public Design: {{ design.design_name }} </h3>
        <div id="parameters">
        {%  if owner and loggedin %}

        <div align="right" class="">

        <button type="button" id="btnCreate" class="btn btn-sm btn-primary" onClick="location.href='/edit_public_design/{{ design.design_id }}'">Edit</button>&nbsp;&nbsp;
       </div>
        {%  endif  %}
            <hr />
        <!-- design info -->
        <p>
        {{ design.description }}
        </p>
         <p>
             <strong>CRISPR Application:</strong> {{ design.crispr_application }}
            <br />
             <strong>Target Organism NCBI Taxonomy ID:</strong>  {{ design.taxon_id }}
            <br />
            <a href="/public_download/{{ design.job_uuid }}/{{ design.genome_uuid }}.gff3">DownLoad GFF</a><br />
            <a href="/public_download/{{ design.job_uuid }}/{{ design.genome_uuid }}.fa">Download FASTA</a>
            <br />
        <hr />
            <strong>Target Region:</strong><br>
        <ul>
            {% if data["limit_regions"] == "both" %}
                <li>Coding and/or non-coding regions</li>
            {% else  %}
                <li>Limit to {{ data["limit_regions"] }} regions</li>
            {% endif %}

            {% if data["feature_type"] == "custom_features" %}
                <li>Relative to custom features</li>
            {%  else %}
            <li>Relative to loci:
                {% if  data["target_genes"]|length > 0  %}
                     {{ data["target_genes"] }}
                {% else %}
                    Genome wide
                {% endif %}
            </li>
            {% endif %}

            <li>Starting point reference: {{ data["start_name"] }}</li>
            <li>Starting point padding: {{ data["start_padding"] }}</li>
            <li>Ending point reference: {{ data["end_name"] }}</li>
            <li>Ending point padding: {{ data["end_padding"] }}</li>

           {% if data["design_grna"] == "yes" %}
               </ul>
            <!--  display the parameters that were used in the design -->
            <strong>Guide RNA Design Parameters</strong>
               <ul>
               <li>PAM: {{ data["PAM"] }}</li>
               <li>Target length : {{ data["target_length"] }}</li>
               <li>Miss-matches: {{ data["MM"] }}<br />
               <li>Number wanted: {{ data["number_wanted"] }}</li>
               <li>Scaffold sequence: {{ data["scaffold_seq"] }}</li>
               <li>Target strand: {{ data["target_strand"] }}</li>
               </ul>
           {%  else  %}
               <li>No guide RNA library design was requested</li>
               </ul>
            {%  endif  %}


             </div>

			<div id="div_results">
            <hr />
            {% if data["status"] == "Complete" and data["design_grna"] == "yes" %}
              <p>
                <!-- if, done, display the results or the report and download links here-->
                {% if  data["no_protospacers"]|length > 0  %}
                    No protospacers were found for the following genes ({{ data["no_protospacers"]|length  }}):
                   <table>
                       {% for gene_row in data["no_protospacers"] | batch(5, ' ') %}
                            <tr>
                                {% for gene in gene_row %}
                                    <td width='200'>{{ gene }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                All genes had protospacers<br />
                {% endif %}
              </p>
              <p>
              {% if data["not_enough_protospacers"]|length > 0  %}
                    Not enough protospacers were found for the following genes ({{ data["not_enough_protospacers"]|length  }}):
                    <table>
                       {% for gene_row in data["not_enough_protospacers"] | batch(5, ' ') %}
                            <tr>
                                {% for gene in gene_row %}
                                    <td width='200'>{{ gene }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                All genes had enough protospacers<br />
                {% endif %}
            </p>

            <!-- download links here -->
                <hr />
                <strong>Download:</strong><br>
                    <a href="/public_download/{{ design.job_uuid }}/{{ design.job_uuid }}.csv">Results (.csv)</a> <br>
                    <a href="/public_download/{{ design.job_uuid }}/{{ design.job_uuid }}_regions.fa">Target Regions (.fa)</a><br>
                    <a href="/public_download/{{ design.job_uuid }}/{{ design.job_uuid }}_report.txt">Report (.txt)</a><br>
                    <a href="/public_download/{{ design.job_uuid }}/{{ design.job_uuid }}.tar.gz">All output files (.tar.gz)</a><br>
                <hr />
                 <strong>View gRNA Design Results:</strong>
                <br><small><em>This may take a minute to load for whole genome designs</em></small>
                <div id="data">
                    <table id="results" class="display display table table-striped table-bordered responsive hover nowrap" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Chromosome</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Strand</th>
                                <th>Protospacer</th>
                                <th>PAM</th>
                            </tr>
                        </thead>
                    </table>
                </div>


                {% else %}
                <hr>
                Download:<br>
                <a href="/public_download/{{ design.job_uuid }}/{{ design.job_uuid }}_regions.fa">Extracted Sequence Region FASTA</a>
                {%  endif  %}

			</div>
		</div>

    <!-- JavaScript for viewing results csv -->
    <script>
      window.onload =  function() {
        $.ajax({
            type:"POST",
            url:"/public_download/{{ design.job_uuid }}/{{ design.job_uuid }}.csv",
            success: (data) => {
                //convert to array
                var results = Papa.parse(data, {
                    skipEmptyLines: true });
                console.log(results);
                $('#results').DataTable({
                    //remove header
                     "data": results.data.slice(1),
                     columns: [
                       { title: "Name" },
                       { title: "Chromosome" },
                       { title: "Start" },
                       { title: "End" },
                       { title: "Strand" },
                       { title: "Protospacer" },
                       { title: "PAM" }
                     ],
                    responsive: true,
                    "dom": '<"top"lf>rt<"bottom"p><"clear">'
                });
             }
        });

    }


    </script>
{% endblock %}
