{% extends 'index_base.html'%}


{% block content %}


    <div class="container">

			<h3 style="text-align:center">Public gRNA Library Designs</h3>

    <div style="text-align:center"><small><em>These gRNA Library designs have been made available to the public by the designer.
        You can designate a design as public from the design results page, and if you are the owner you can edit the information, and change the permissions at any time. </em></small></div><br>

    <!-- list genomes  -->
     <div class="row" style="padding-left: 75px;">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<div class="panel panel-default" >
				<div class="panel-body"></div>

                    <table id="designs-overview" class="table">
						<thead>
							<tr>
								<th>Design Name</th>
                                <th>Description</th>
								<th>CRISPR Application</th>
                                <th>Target Organism NCBI Taxonomy ID</th>
							</tr>
						</thead>

						<tbody>
							{% for d in designs %}
								<tr>
                                    <td><a href="/public_design/{{ d.design_id }}">{{ d.design_name }}</a></td>
                                    <td>{{ d.description}}</td>
                                    <td>{{ d.crispr_application}}</td>
                                    <td>{{ d.taxon_id}}</td>


								</tr>
						    {% endfor %}
						</tbody>
					</table>

                </table>
				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>

    <script>
    $(document).ready(function () {
      $('#designs-overview').DataTable();
    });
   </script>



{% endblock %}