{% extends 'index_base.html' %}

{% block content %}

    <div class="container-fluid">

     <div class="col-sm-8 justify-content-center">
        <div class="col-sm-5">
            <h4 class="title ">Request Password Reset</h4>


        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}">
                    {{ messages[0][1]}}
                </div>
            {% endif %}
        {% endwith %}


        <form method="POST" action="/reset_request" >

            <div id="div_email" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_email" class="col-sm-2 col-form-label-sm">Email</label>
                    <div class="col-sm-6">
					    <input id="text_email" name="email" type ="email" cols="100" maxlength="100" class="form-control-sm" placeholder="" value="" required/>
                    </div>
				</div>

            <div id="div_submit" class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <button class="btn btn-primary btn-sm">Request Password Reset</button>
                </div>
            </div>
        </form>
            </div>

     </div>

</div>



{%  endblock %}