{% extends 'index_base.html' %}

{% block content %}

    <div class="container-fluid">

     <div class="col-sm-8 justify-content-center">
        <div class="col-sm-5">
            <h4 class="title ">Reset Password</h4>


        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}
        </div>

        <form method="POST" action="/reset_password/{{ token }}" >

             <div id="div_pass" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_pass1" class="col-sm-1 col-form-label-sm">New Password</label>
                    <div class="col-sm-3">
					    <input id="text_pass1" name="password1" type ="password" cols="100" maxlength="100" class="form-control-sm" placeholder="" value="" required/>
                    </div>
				</div>

            <div id="div_pass" class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="text_pass2" class="col-sm-1 col-form-label-sm">Confirm Password</label>
                    <div class="col-sm-3">
					    <input id="text_pass2" name="password2" type ="password" cols="100" maxlength="100" class="form-control-sm" placeholder="" value="" required/>
                    </div>
				</div>

            <div id="div_submit" class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
        </form>

     </div>

</div>



{%  endblock %}