{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- list design jobs  -->
     <div class="row" style="padding-left: 75px;">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<div class="panel panel-default" >
				<div class="panel-body"></div>
					<h2> {{ username }}'s Designs</h2>
            <p><em><small>Designs are purged from the filesystem after 90 days unless they are made publicly available.</small></em></p>

                    <table id="jobs-overview" class="table">
						<thead>
							<tr>
								<th>Job Title</th>
								<th>Status</th>
								<th>UUID</th>
								<th>Date Created</th>
								<th>Date Finished</th>
							</tr>
						</thead>

                        <tbody>
							{% for job in jobs %}
								<tr>
                                    <td><a href="/results/{{ job.job_uuid|e }}">{{ job.job_userdefined_id|e }}</a></td>
									<td style="vertical-align: middle">
										{% if job.job_status == 'Complete' %}
											<span class="badge badge-success">Complete</span>
										{% elif job.job_status == 'Running' %}
											<span class="badge badge-warning">Running</span>
										{% elif job.job_status == 'Failed' %}
											<span class="badge badge-danger">Failed</span>
										{% else %}
											<span class="badge badge-default">Error</span>
										{% endif %}
									</td>
									<td>{{ job.job_uuid }}</td>
									<td data-sort="{{ job.timeCreated|e }}"><span class="utc-timestamp human-readable">{{ job.job_submission_date }}</span></td>
									<td data-sort=">{{ job.timeFinished|e }}"><span class="utc-timestamp human-readable">{{ job.job_end_date }}</span></td>
								</tr>
						    {% endfor %}
						</tbody>
					</table>

                </div>
			</div>
		</div>
		<div class="col-xs-1"></div>
</div>
    <script>
    $(document).ready(function () {
      $('#jobs-overview').DataTable();
    });
   </script>

{% endblock %}