{% extends 'base.html' %}


{% block content %}

		<div class="container">
			<h3 style="text-align:center">Save New Target Genome</h3>
    <div style="text-align:center"><small><em>Only genomes that you have uploaded in the past will be displayed. Others cannot use or view genomes you have saved </em></small></div><br>
			<hr/>

        <!-- here - put hidden div/form for selecting regions- make visable when genome is uploaded/selected...-->
            {% if data.error %}
			<div id="div_message" class="alert alert-danger">
                {{ data.error }}
			</div>
            {% else %}
            <div id="div_message" class="alert alert-danger d-none">
            </div>
            {% endif %}

            <!-- no saved genomes - just show form for new genome -->
               <!-- make div for upload new file form, but set to hidden unless there are no saved genomes or Upload New Genome button is clicked-
            class='d-none' makes this hidden in bootstrap 4 -->
            <div id="div_upload_genome">
                <form action="./save_genome" method="POST" enctype="multipart/form-data">
                    <div if="genome_name" class="form-group">
                        Genome Name <br><small><em>This user defined name will be used when selecting the saved genome in the future</em></small>
                        <input id="text_genome_name" name="genome_name" type ="text" size="75" maxlength="255" class="form-control" placeholder="" value="" required/>
                    </div>

                    <div if="genome_type" class="form-group">
                        Genome Type: <br>
                         <select id="genome_type" name="genome_type" class="form-control">
								<option selected>Eukaryote</option>
                                <option >Prokaryote</option>

                        </select>
                    </div>

                    <div id="upload_genome_form" class="form-group">
                        Genome Sequence <br><small><em>Genbank or fasta, can be compessed (.zip or .gz). If you upload a FASTA file you will be required to uplaod a GFF. This is preferable to GenBank, and required for eukaryotes. Please note compressed files (.zip or .gz) must contain single files, not archives of multiple files.</em></small>
                        <input type="file" id="genome_sequence" name="genome_sequence" class="form-control" onChange="need_annotation_file(value)" required/>
                        <!-- TODO onselect- use java script to check file name look for whether file extension is fa, fas, fasta or gb, gbk, maybe with .zip or .gz
                         when the genome is actually uploaded we will do better validation - this is just to know if we need a second annotaion file - if fast is uploaded-->
                    </div>
                    <!-- hidden div for annoation file upload -->
                     <div id="upload_annotation" class="d-none" class="form-group">
                        Annotation File <br><small><em>GFF3 can be compessed (.zip or .gz). Please note compressed files (.zip or .gz) must contain single files, not archives of multiple files.</em></small>
                        <input type="file" id="genome_annotation" name="genome_annotation" class="form-control" onChange="check_annotation_file(value)" />
                    </div>
                    <br>
                    <button type="submit" id="save_genome_btn" class="btn btn-sm btn-primary form-control disabled"  onclick="onSubmit()" style="width:20%" disabled>Save</button>

                </form>

                </div>
            <!-- spinner modal -->
            <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="width: 48px">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </div>
            </div>
</div>



		</div>

		<script src="{{ url_for('static', filename='scripts/saveGenomeController.js') }}"></script>

{% endblock %}