{% extends 'base.html' %}


{% block content %}

    <div class="container">
			<h3 style="text-align:center">{{ username }}'s Genomes</h3>
    <div align="right" class="">

        <button type="button" id="btnCreate" class="btn btn-sm btn-primary" onClick="location.href='/save_genome.html'">Save New Genome</button>&nbsp;&nbsp;
    </div>
    <div style="text-align:center"><small><em>Your genomes are private. Others cannot use or view genomes you have saved. </em></small></div><br>

    <!-- list genomes  -->
     <div class="row" style="padding-left: 75px;">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<div class="panel panel-default" >
				<div class="panel-body"></div>

                    <table id="genomes-overview" class="table">
						<thead>
							<tr>
								<th>Name</th>
                                <th>Status</th>
								<th>UUID</th>
                                <th>Type</th>
                                <th>Original Annotation File</th>
                                <th>Date</th>
							</tr>
						</thead>

						<tbody>
							{% for g in genomes %}
								<tr>
                                    <td><a href="/genome/{{ g.genome_uuid }}">{{ g.genome_userdefined_id|e }}</a></td>
									<td style="vertical-align: middle">
										{% if g.genome_status == 'Complete' %}
											<span class="badge badge-success">Complete</span>
										{% elif g.genome_status == 'Processing' %}
											<span class="badge badge-warning">Processing</span>
										{% elif g.genome_status == 'Failed' %}
											<span class="badge badge-danger">Failed</span>
										{% else %}
											<span class="badge badge-default">Error</span>
										{% endif %}
									</td>
                                    <td>{{ g.genome_uuid }}</td>
                                    <td>{{ g.genome_type }}</td>
                                    <td>{{ g.annotation_file_name }}</td>
                                    <td>{{ g.saved_date.strftime('%Y-%m-%d')  }}</td>


								</tr>
						    {% endfor %}
						</tbody>
					</table>

                </table>
				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>


    </div>
    <script>
    $(document).ready(function () {
      $('#genomes-overview').DataTable();
    });
   </script>

{% endblock %}