html {
	position: relative;
	min-height: 100%;
}
body {
	/* For navbar- padding was 60px */
	padding-top: 100px;
	/* Margin bottom by footer height */
	margin-bottom: 200px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 120px;
	background-color: #f5f5f5;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

  .bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
  }